body {
	color: #424242;
	background-color: #d1d2d1;
}

@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}

span.time {
	color: #ADADAD;
	margin-bottom: 5px;
	font-size: 12px;
}

.nav-bar {
	margin-top: 50px;
	font-size: 15px;
	color: #333;
}

.nav-link {
	padding-top: 12px;
	color: #777;
	border-top: 1px solid #444;
	display:block;
}

a {
	color: #777;
}

a:hover {
	color: #777;
}
