body {
	color: #424242;
	background-color: #d1d2d1;
}

@media (max-width: 1200px) {
	.container {
		min-width: 1000px;
	}
}

#header-logo {
	text-align:center;
	display:block;
}

span.time {
	color: #ADADAD;
	margin-bottom: 5px;
	font-size: 12px;
}

.nav-bar {
	margin-top: 50px;
	font-size: 15px;
	color: #333;
}

.nav-link {
	padding: 7px;
	color: #777;
	border-top: 1px solid #444;
	display:block;
}

a {
	color: #777;
}

a:hover {
	color: #777;
}
