.navbar-default .navbar-nav > li > a {
	font-size:18px;
	padding-left:30px;
	padding-right:30px;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-top: 15px;
	margin-bottom: 15px;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

ul li p {
	margin-top:5px;
	margin-bottom:5px;
}

h1, h2 {
	padding-left:10px;
}

#page-content {
	padding-left: 10px;
	padding-right: 10px;
}

#page-content table {
	width:100%;
	margin-bottom:50px;
}

#page-content table tbody tr:nth-child(odd) { 
	background-color:rgba(255,255,255,.5); 
}

#page-content table tbody tr:nth-child(even) { 
	background-color: rgba(255,255,255,.7); 
}

#page-content table tbody tr td { 
	padding:5px;
}

.article-content p img {
	width:100%;
}

footer {
	clear:both;
}
