.theme-bg {
  background: url(img/circuitboard.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.color-bar {
  background-color: #3d86c6;
  background-color: rgba(61, 134, 198, 0.7);
  background: rgba(61, 134, 198, 0.7);
  color: #ffffff;
}
.color-bar-light {
  background-color: #dbe8f4;
  background-color: rgba(219, 232, 244, 0.7);
  background: rgba(219, 232, 244, 0.7);
}
.inverse-bar,
.dark-col {
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}
.white-bar {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.9);
}
.white-30 {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.7);
}
.white-70 {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.9);
}
.brand-70 {
  background-color: #3d86c6;
  background-color: rgba(61, 134, 198, 0.7);
  background: rgba(61, 134, 198, 0.7);
}
.brand-30 {
  background-color: #3d86c6;
  background-color: rgba(61, 134, 198, 0.3);
  background: rgba(61, 134, 198, 0.3);
}
.brand-lighter-70 {
  background-color: #dbe8f4;
  background-color: rgba(219, 232, 244, 0.7);
  background: rgba(219, 232, 244, 0.7);
}
.darkbrand-70 {
  background-color: #245179;
  background-color: rgba(36, 81, 121, 0.7);
  background: rgba(36, 81, 121, 0.7);
}
.black-70 {
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
}
.black-90 {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  background: rgba(0, 0, 0, 0.9);
}
.carbon {
  background: url(img/subtle_carbon.png) repeat;
}
.stripe {
  background: url(img/dvsup.png) repeat;
}
.article-content {
  padding: 20px 30px;
}
.solid.gray {
  background: #333333;
  color: #ffffff;
}
.solid.gray .article-content {
  padding: 20px 30px;
}
.solid.light-gray {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.9);
}
.solid.light-gray .article-content {
  padding: 20px 30px;
}
.solid.brand {
  background-color: #3d86c6;
  background-color: rgba(61, 134, 198, 0.7);
  background: rgba(61, 134, 198, 0.7);
  color: #ffffff;
}
.solid.brand .article-content {
  padding: 20px 30px;
}
.solid.brand .action-links {
  color: #333333;
}
.solid.inverse-bar .article-content {
  padding: 20px 30px;
}
.solid.color-bar .article-content {
  padding: 20px 30px;
}
.filmgrain {
  -webkit-animation: grain 5s steps(10) infinite;
  -moz-animation: grain 5s steps(10) infinite;
  -ms-animation: grain 5s steps(10) infinite;
  animation: grain 5s steps(10) infinite;
  background: url(img/noise.png);
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  position: absolute;
  top: -100%;
  width: 300%;
  z-index: 1;
}
.dot-overlay {
  background: url(img/dot.png) repeat;
  background-size: 2px 2px;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  float: left;
}
body {
  background: url(img/circuitboard.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#page {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.7);
  padding: 0px;
  margin: 0px auto;
}
@media (max-width: 768px) {
  #page {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 0;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  #page {
    margin: 0px;
    padding: 0px;
    width: 100%;
    border: 0;
    overflow: hidden;
  }
}
#features {
  background: #fafafa;
}
#features .row {
  padding: 0px;
  margin: 0px;
}
#features .row img {
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
  width: 100%;
  position: relative;
  z-index: 0;
}
#features .row img:hover {
  opacity: 0.8;
}
#features .row .features-col {
  padding: 0px;
  margin: 0px;
}
#features .row .features-col .feature-content {
  padding: 10px 30px 10px 30px;
}
#features .row .features-col .feature-title {
  background-color: #3d86c6;
  background-color: rgba(61, 134, 198, 0.7);
  background: rgba(61, 134, 198, 0.7);
  padding: 15px 30px;
  color: #ffffff;
}
#features .row .features-col .feature-title h3 {
  text-transform: uppercase;
  word-wrap: break-word;
  font-weight: 900;
  font-size: 1.7em;
  margin: 0px;
}
#features .row .features-col .feature-title .by-line {
  font-style: italic;
  font-size: 0.9em;
  margin: 10px 0 0 0;
}
#page-content .row {
  padding: 0px;
  margin: 0px;
}
#page-content .row .content-col {
  padding: 0px;
}
#page-content .row .content-col img {
  width: 100%;
}
#page-content h1.page-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.7em;
}
#page-content .well {
  margin-bottom: 0px;
}
#signup {
  padding: 0px;
}
#signup .row {
  margin: 0px;
}
#signup .section-title {
  padding: 0px 30px;
  margin: 0;
  color: #ffffff;
  line-height: 33px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.3em;
}
#signup .section-title h3 {
  margin: 0px;
  padding: 0px;
  line-height: 33px;
}
.comments {
  clear: both;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 200;
}
@media (min-width: 1200px) {
  .comments {
    top: -1px;
  }
}
.comments .comments-container {
  padding: 20px 30px;
  max-height: 300px;
  overflow-y: scroll;
  border-bottom: 10px #3d86c6 solid;
  color: #333333;
}
.comments .comments-container .media h4 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1em;
}
.comments .comments-container .media p {
  font-size: 0.9em;
}
.comments .comments-container .media img {
  padding: 3px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.9);
}
.comments .comments-container .media .comment-actions {
  font-size: 0.9em;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 10px;
  border-bottom: 1px #999999 dotted;
}
.comments .comments-container .media .comment-actions a {
  color: #3d86c6;
}
#gallery {
  background: url(img/subtle_carbon.png) repeat;
  color: #ffffff;
  padding: 30px 30px;
}
#gallery .section-title {
  padding-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.3em;
}
#gallery .section-title h3 {
  margin: 0;
}
#gallery .row .gallery-wrapper {
  margin-top: 30px;
  width: 100%;
  float: left;
}
#gallery .row .gallery-wrapper .gallery-image {
  width: 15%;
  margin-right: 6%;
  float: left;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
}
#gallery .row .gallery-wrapper .gallery-image.last {
  margin-right: 0%;
}
@media (max-width: 768px) {
  #gallery .row .gallery-wrapper .gallery-image {
    padding: 3px;
  }
}
@media (max-width: 480px) {
  #gallery .row .gallery-wrapper .gallery-image {
    padding: 1px;
  }
}
#gallery .row .gallery-wrapper .gallery-image img {
  width: 100%;
}
#gallery-page {
  width: 100%;
  overflow: hidden !important;
}
ul.nav.nav-tabs {
  border: 0;
}
ul.nav.nav-tabs li {
  margin: 0;
  padding: 0;
  border: 0;
}
ul.nav.nav-tabs li.active {
  background: #000000;
  color: #ffffff;
}
ul.nav.nav-tabs li a {
  color: #ffffff;
  padding: 10px 15px;
  margin: 0;
  border: 0;
}
ul.nav.nav-tabs li.active a,
ul.nav.nav-tabs li a:hover,
ul.nav.nav-tabs li a:focus {
  background: #000000;
  border: 0;
  padding: 10px 15px;
  margin: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #ffffff;
}
.tab-content .comment-actions a {
  color: #ffffff !important;
}
a.tag {
  font-size: 1.3em;
  line-height: 1.6em;
}
a.tag:hover {
  text-decoration: none;
}
.label-default {
  background: #245179;
}
ul.pagination {
  margin: 10px 0;
}
ul.pagination li {
  margin: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
ul.pagination li a {
  border: 0;
  background: transparent;
}
ul.pagination li a:hover,
ul.pagination li a:focus {
  background: transparent;
  color: #ffffff;
}
.form-col {
  padding: 0px;
  min-height: 33px;
}
.form-col input {
  border-radius: 0px;
  border: 0px;
}
.form-col input:focus {
  box-shadow: none;
}
.form-col .btn {
  border-radius: 0px;
  border: 0px;
  height: 34px;
  width: 100%;
}
.video-box {
  color: #ffffff;
}
.video-box p {
  margin-top: 30px;
}
#weather {
  height: 200px;
  text-align: center;
}
#weather h2 {
  font-size: 8em !important;
  font-weight: 100 !important;
}
#weather ul {
  margin: 0px;
  padding: 0px;
}
#weather ul li {
  list-style: none;
  list-style-type: none;
  display: inline;
  margin: 0 5px;
  font-size: 1.4em;
  font-weight: 100;
}
.twitter-tweet {
  border: 0 !important;
  border-radius: 0 !important;
}
.twitter-tweet .standalone-tweet {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
#map {
  height: 300px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner-image img {
  width: 100%;
}
.quote-row {
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}
.thumbnail {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.stars {
  padding: 10px 0;
}
.stars i {
  margin-right: 5px;
}
#page header {
  padding: 0px;
}
#page header .row {
  margin: 0px;
}
@media (max-width: 767px) {
  #page header .row {
    background-color: #3d86c6;
    background-color: rgba(61, 134, 198, 0.7);
    background: rgba(61, 134, 198, 0.7);
  }
}
#page header .row .header-col {
  min-height: 30px;
}
#page header .row .menu-col {
  padding: 0px;
}
@media (max-width: 767px) {
  #page header .row .menu-col {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.title-header {
  padding: 10px 30px;
  text-align: right;
}
.container .jumbotron {
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar-default {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-collapse {
  padding-left: 0px;
}
.navbar-default .navbar-nav a {
  padding: 15px 18px;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
}
@media (max-width: 768px) {
  .navbar-default .navbar-nav a {
    border-bottom: 0px !important;
  }
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff !important;
  background: transparent;
}
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.open > a:focus,
.navbar-default .navbar-nav > .active > a {
  color: #ffffff !important;
  background-color: #3d86c6;
  background-color: rgba(61, 134, 198, 0.7);
  background: rgba(61, 134, 198, 0.7);
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li.open > a:focus,
  .navbar-default .navbar-nav > .active > a {
    background: transparent;
  }
}
.navbar-default .navbar-nav > li.active > a {
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav > li.active > a {
    background: transparent;
  }
}
.dropdown-menu {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top: 0px;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.9);
}
.dropdown-menu li a:focus {
  color: #333333;
}
.dropdown-menu li.active a {
  background: none;
  color: #333333;
  border-bottom: 3px #ccc solid;
}
.navbar-toggle {
  margin-right: -5px;
  background: transparent;
  border: 0;
}
.navbar-collapse {
  border: 0;
  box-shadow: none;
}
.navbar-collapse.in .dropdown-menu a {
  color: #ffffff !important;
}
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav a:hover {
  background: none;
}
.navbar-default .navbar-nav .dropdown-menu a {
  border-bottom: 0px;
}
.navbar-default .navbar-nav .dropdown-menu a:hover {
  color: #555555;
}
.brand-col {
  text-align: center;
}
@media (max-width: 767px) {
  .brand-col {
    background: transparent;
  }
}
.brand-col a.navbar-brand {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  float: none;
  letter-spacing: 2px;
  line-height: 50px;
  padding: 0;
  text-align: center;
  font-weight: 900;
  font-size: 1.3em;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .brand-col a.navbar-brand {
    font-size: 1.7em;
    letter-spacing: 4px;
  }
}
@media (max-width: 991px) {
  .brand-col a.navbar-brand {
    font-size: 1em;
  }
}
.date-col {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 0.8em;
  text-align: center;
}
.date-col p {
  line-height: 34px;
  margin: 0;
}
@media (max-width: 768px) {
  .date-col {
    font-size: 0.7em;
    letter-spacing: 0px;
  }
}
.ticker-col {
  min-height: 34px;
}
.ticker-col #ticker {
  width: 100%;
  height: 30px;
  overflow: hidden;
  float: left;
  margin-left: 2px;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ticker-col #ticker ul li {
  line-height: 30px;
  font-weight: 100;
}
.ticker-col #ticker ul li a {
  color: #333333;
}
.ticker-col #ticker ul li a:hover {
  text-decoration: none;
}
.ticker-col #ticker ul li strong {
  font-weight: 900;
}
@media (max-width: 767px) {
  .ticker-col #ticker {
    display: none;
  }
}
@media (max-width: 1199px) {
  .ticker-col #ticker {
    font-size: 10px;
  }
}
.search-col {
  padding: 0px;
}
.search-col input {
  border-radius: 0px;
  border: 0px;
}
.search-col input:focus {
  box-shadow: none;
}
.search-col .btn {
  border-radius: 0px;
  border: 0px;
  height: 34px;
  width: 100%;
}
.search-col .col-xs-3 {
  right: -1px;
  position: relative;
  border: 0;
}
@media (min-width: 992px) {
  .search-bar {
    float: right !important;
  }
}
.jumbotron {
  text-align: right;
}
#jumbotron {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#footer {
  background: url(img/dvsup.png) repeat;
  color: #ffffff;
}
#footer .footer-columns {
  padding: 30px;
}
#footer .footer-columns ul {
  padding-left: 15px;
}
#footer .footer-columns h3 {
  padding-bottom: 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.3em;
}
#footer .footer-columns .thumbnail {
  max-width: 60px;
}
#footer .footer-columns .footer-list-discussion ul {
  margin: 0;
  padding: 0;
}
#footer .footer-columns .footer-list-discussion ul li {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
#footer .footer-columns .footer-list-discussion ul li a {
  color: #fff;
}
#footer .footer-columns .footer-list-discussion ul li a:hover {
  text-decoration: none;
}
#footer .footer-columns .footer-list-categories ul li {
  margin-bottom: 10px;
}
#footer .footer-columns .footer-list-categories ul li a {
  color: #fff;
}
#footer .footer-columns .footer-list-categories ul li a:hover {
  text-decoration: none;
}
#footer .footer-last {
  padding: 30px 15px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.9);
  background: rgba(0, 0, 0, 0.9);
  margin-left: 0px;
  margin-right: 0px;
}
#footer ul.footer-links {
  margin: 0;
  padding: 0;
  float: left;
}
#footer ul.footer-links li {
  list-style: none;
  list-style-type: none;
  margin-left: 0px;
  padding: 0;
  float: left;
  margin-right: 20px;
}
#footer hr {
  border-color: #2a2a2a;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:link {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}
h1.page-title {
  font-weight: 900;
  text-transform: uppercase;
}
h1.article-title {
  font-weight: 900;
  text-transform: uppercase;
}
h3.comments-title {
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}
.well {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0;
  box-shadow: none;
}
h1.nopage {
  font-size: 12em;
  font-weight: 900;
  color: #ffffff;
  text-align: right;
}
h2.nopage {
  font-size: 3em;
  font-weight: 900;
  text-align: right;
}
h3.nopage {
  font-size: 2.5em;
  font-weight: 100;
  text-align: right;
}
.btn {
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn-right {
  float: right;
  margin-right: 0px;
}
.btn-brand-dark {
  background-color: #245179;
  background-color: rgba(36, 81, 121, 0.7);
  background: rgba(36, 81, 121, 0.7);
  color: #ffffff;
}
.btn-brand-dark:hover {
  color: #ffffff;
}
.btn-inverse {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active {
  background-color: #222222;
  border-color: #222222;
  color: #ffffff;
}
.btn-inverse.disabled:hover,
.btn-inverse.disabled:focus,
.btn-inverse.disabled:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled]:hover,
.btn-inverse[disabled]:focus,
.btn-inverse[disabled]:active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse:hover,
fieldset[disabled] .btn-inverse:focus,
fieldset[disabled] .btn-inverse:active,
fieldset[disabled] .btn-inverse.active {
  background-color: #222222;
  border-color: #222222;
  color: #ffffff;
}
.btn-brand-dark {
  background-color: #245179;
  border-color: #245179;
  color: #ffffff;
}
.btn-brand-dark:hover,
.btn-brand-dark:focus,
.btn-brand-dark:active,
.btn-brand-dark.active {
  background-color: #3d86c6;
  border-color: #3d86c6;
  color: #ffffff;
}
.btn-brand-dark.disabled:hover,
.btn-brand-dark.disabled:focus,
.btn-brand-dark.disabled:active,
.btn-brand-dark.disabled.active,
.btn-brand-dark[disabled]:hover,
.btn-brand-dark[disabled]:focus,
.btn-brand-dark[disabled]:active,
.btn-brand-dark[disabled].active,
fieldset[disabled] .btn-brand-dark:hover,
fieldset[disabled] .btn-brand-dark:focus,
fieldset[disabled] .btn-brand-dark:active,
fieldset[disabled] .btn-brand-dark.active {
  background-color: #3d86c6;
  border-color: #3d86c6;
  color: #ffffff;
}
.profile .contact-info {
  margin-top: 20px;
}
ul.social {
  margin: 20px 0;
  padding: 0;
}
ul.social li {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 6px;
}
ul.social li .roundall {
  background: #333333;
  padding: 8px 11px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
ul.social li .roundall a {
  color: #ffffff;
}
#grid {
  padding: 0px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #grid .col-md-8 {
    max-width: 646px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #grid .col-sm-6 {
    width: 50%;
  }
}
@media (max-width: 480px) {
  #grid .col-sm-6 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #grid .col-sm-12 {
    width: 100%;
  }
}
#grid .spacer {
  width: 0%;
}
#grid .item {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#grid .item .title-overlay {
  position: absolute;
  top: 0px;
  padding: 30px;
  color: #ffffff !important;
  z-index: 10;
}
#grid .item img {
  width: 100%;
}
#grid .item h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 1.7em;
}
#grid .item .by-line {
  font-style: italic;
  font-size: 0.9em;
  text-align: center;
}
.action-links {
  background: #eeeeee;
  width: 100%;
  float: left;
}
.action-links .btn-primary {
  float: left;
}
.action-links .btn-inverse {
  float: left;
}
.action-links.inverse {
  background: #222222;
}
.action-links.inverse .article-info {
  color: #ffffff;
}
.author-ident {
  padding: 20px 30px;
  background: #999999;
  color: #ffffff;
}
.author-ident.inverse {
  background: #000000;
}
.author-ident h5 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1em;
  margin-top: 0px;
}
.author-ident p {
  font-size: 0.8em;
}
.article-info {
  padding-left: 15px;
  font-size: 0.8em;
  margin: 0;
  line-height: 33px;
  float: left;
}
.article-info span {
  position: relative;
  top: 2px;
}
.item-img {
  position: relative;
}
.item-img.left {
  float: left;
  position: relative;
  margin-right: 30px;
  margin-bottom: 15px;
  width: 390px;
  height: 390px;
  display: block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .item-img.left {
    width: 323px;
    height: 323px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .item-img.left {
    width: 375px;
    height: 375px;
  }
}
@media (max-width: 767px) {
  .item-img.left {
    width: 190px;
    height: 190px;
  }
}
.item-img.right {
  float: right;
  position: relative;
  margin-left: 30px;
  margin-bottom: 15px;
  width: 390px;
  height: 390px;
  display: block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .item-img.right {
    width: 323px;
    height: 323px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .item-img.right {
    width: 375px;
    height: 375px;
  }
}
@media (max-width: 767px) {
  .item-img.right {
    width: 190px;
    height: 190px;
  }
}
/* JUMP BLOCKS */
#jump-blocks .row {
  padding: 30px;
}
#jump-blocks .row .jump-block figure {
  margin: 0;
  position: relative;
  z-index: 300;
  width: 100%;
}
#jump-blocks .row .jump-block figure:hover img,
#jump-blocks .row .jump-block figure.jump-block figure.jump-hover img {
  -webkit-transform: translateY(-89px);
  -moz-transform: translateY(-89px);
  -ms-transform: translateY(-89px);
  transform: translateY(-89px);
}
#jump-blocks .row .jump-block figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
  color: #3d86c6;
  height: 90px;
  width: 100%;
  top: auto;
  bottom: 0;
}
#jump-blocks .row .jump-block figure figcaption a {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#jump-blocks .row .jump-block figure figcaption span:before {
  content: 'by ';
}
#jump-blocks .row .jump-block figure figcaption h3 {
  text-transform: uppercase;
  word-wrap: break-word;
  font-weight: 900;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  color: #fff;
}
#jump-blocks .row .jump-block figure img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 300;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.jump-block figure {
  margin: 0;
  position: relative;
  z-index: 300;
  width: 100%;
}
.jump-block figure:hover img,
.jump-block figure.jump-block figure.jump-hover img {
  -webkit-transform: translateY(-89px);
  -moz-transform: translateY(-89px);
  -ms-transform: translateY(-89px);
  transform: translateY(-89px);
}
.jump-block figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
  color: #3d86c6;
  height: 90px;
  width: 100%;
  top: auto;
  bottom: 0;
}
.jump-block figure figcaption a {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.jump-block figure figcaption span:before {
  content: 'by ';
}
.jump-block figure figcaption h3 {
  text-transform: uppercase;
  word-wrap: break-word;
  font-weight: 900;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  color: #fff;
}
.jump-block figure img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 300;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}
.carousel-fade .carousel-inner .item .by-line {
  font-style: italic;
}
.carousel-fade .carousel-inner .item .carousel-caption {
  opacity: 0;
  left: 0px;
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  bottom: 0px;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
@media (max-width: 991px) {
  .carousel-fade .carousel-inner .item .carousel-caption {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .carousel-fade .carousel-inner .item .carousel-caption {
    padding: 0px 15px;
  }
}
.carousel-fade .carousel-inner .item .carousel-caption h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2em;
}
@media (max-width: 991px) {
  .carousel-fade .carousel-inner .item .carousel-caption h3 {
    font-size: 1.5em;
  }
}
@media (max-width: 767px) {
  .carousel-fade .carousel-inner .item .carousel-caption h3 {
    font-size: 1.2em;
  }
}
@media (max-width: 991px) {
  .carousel-fade .carousel-inner .item .carousel-caption p {
    display: none;
  }
}
.carousel-fade .carousel-inner .item.active .carousel-caption {
  opacity: 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInLeftBig;
  -o-animation-name: fadeInDown;
  animation-name: fadeInLeftBig;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-fade .carousel-control [class^="icon-"]:before,
.carousel-fade .carousel-control [class*=" icon-"]:before {
  display: block;
}
.carousel-fade .carousel-control .icon-prev {
  left: 15px;
  top: 45%;
  margin: 0px;
  padding: 7px 10px 12px 6px;
  display: block;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 900;
  line-height: 20px;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
}
@media (max-width: 767px) {
  .carousel-fade .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
  }
}
.carousel-fade .carousel-control .icon-prev:before {
  content: '';
}
.carousel-fade .carousel-control .icon-prev span {
  display: block;
  position: relative;
}
.carousel-fade .carousel-control .icon-next {
  right: 5px;
  top: 45%;
  margin: 0px;
  padding: 7px 10px 12px 6px;
  display: block;
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 900;
  line-height: 20px;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
}
@media (max-width: 991px) {
  .carousel-fade .carousel-control .icon-next {
    right: 20px;
  }
}
@media (max-width: 767px) {
  .carousel-fade .carousel-control .icon-next {
    width: 30px;
    height: 30px;
  }
}
.carousel-fade .carousel-control .icon-next:before {
  content: '';
}
.carousel-indicators {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px;
  width: 100%;
}
.carousel-indicators li {
  position: relative;
  z-index: 0;
  display: block;
  width: 100%;
  text-indent: 0;
  height: auto;
  border-radius: 0;
  text-align: left;
  float: left;
  clear: left;
  left: 0px;
  top: 0px;
  margin: 0px;
  background: transparent;
  border: 0;
  padding: 0;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  -ms-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease;
}
.carousel-indicators li img {
  float: left;
  position: relative;
  z-index: 0;
  margin-right: 10px;
}
@media (max-width: 1199px) {
  .carousel-indicators li img {
    height: 83.5px;
    width: 125px;
    margin-right: 10px;
  }
}
.carousel-indicators li .slide-preview {
  padding: 15px 20px;
  postition: relative;
  border-top: 2px #3d86c6 solid;
}
@media (max-width: 1199px) {
  .carousel-indicators li .slide-preview {
    padding: 8px 8px 0px 8px;
  }
}
.carousel-indicators li .slide-preview p {
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.9em;
  line-height: 1.3em;
}
.carousel-indicators li .slide-preview p.by-line {
  font-style: italic;
  text-transform: capitalize;
  font-size: 0.8em;
  padding: 5px 10px;
  background: #3d86c6;
  color: #ffffff;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
@media (max-width: 1199px) {
  .carousel-indicators li .slide-preview p {
    font-size: 0.9em;
    line-height: 1.4em;
  }
}
.carousel-indicators li .slide-preview a {
  color: #ffffff;
}
.carousel-indicators li.active {
  background: #333333;
  color: #ffffff;
  display: block;
  width: 100%;
  text-indent: 0;
  height: auto;
  border-radius: 0;
  text-align: left;
  float: left;
  clear: left;
}
.carousel-indicators li.active p.by-line {
  background: #000000;
}
.carousel-control {
  text-shadow: none;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
ul.carousel-preview {
  padding: 0px;
  margin: 0px;
}
ul.carousel-preview li {
  width: 100%;
  list-style: none;
  list-style-type: none;
  padding: 30px;
}
ul.carousel-preview li.active {
  background: #333;
  color: #ffffff;
}
.slide-col-1 {
  padding-right: 0px;
  margin-right: -5px;
}
@media (max-width: 991px) {
  .slide-col-1 {
    padding-right: 20px;
  }
}
.slide-col-2 {
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 10px;
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  -moz-animation-name: fadeInUpBig;
  -o-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
  -o-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -o-transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  -moz-animation-name: fadeInLeftBig;
  -o-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-o-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -o-transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  -moz-animation-name: fadeInRightBig;
  -o-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}
@-webkit-keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -o-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -o-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -o-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -o-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -o-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -o-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -o-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -o-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -o-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
@-moz-keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -o-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -o-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -o-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -o-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -o-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -o-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -o-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -o-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -o-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
@-ms-keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -o-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -o-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -o-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -o-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -o-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -o-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -o-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -o-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -o-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
@keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
    -moz-transform: translate(-5%, -10%);
    -ms-transform: translate(-5%, -10%);
    -o-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
    -moz-transform: translate(-15%, 5%);
    -ms-transform: translate(-15%, 5%);
    -o-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
    -moz-transform: translate(7%, -25%);
    -ms-transform: translate(7%, -25%);
    -o-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
    -moz-transform: translate(-5%, 25%);
    -ms-transform: translate(-5%, 25%);
    -o-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
    -moz-transform: translate(-15%, 10%);
    -ms-transform: translate(-15%, 10%);
    -o-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
    -moz-transform: translate(15%, 0%);
    -ms-transform: translate(15%, 0%);
    -o-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
    -moz-transform: translate(0%, 15%);
    -ms-transform: translate(0%, 15%);
    -o-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
    -moz-transform: translate(3%, 35%);
    -ms-transform: translate(3%, 35%);
    -o-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    -ms-transform: translate(-10%, 10%);
    -o-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
@font-face {
  font-family: "hopkirk";
  src: url("fonts/hopkirk.eot");
  src: url("fonts/hopkirk.eot?#iefix") format("embedded-opentype"), url("fonts/hopkirk.woff") format("woff"), url("fonts/hopkirk.ttf") format("truetype"), url("fonts/hopkirk.svg#hopkirk") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "hopkirk" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "hopkirk" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-linkedin:before {
  content: "a";
}
.icon-facebook:before {
  content: "b";
}
.icon-vimeo:before {
  content: "c";
}
.icon-youtube:before {
  content: "d";
}
.icon-twitter:before {
  content: "e";
}
.icon-path:before {
  content: "f";
}
.icon-quote-left:before {
  content: "h";
}
.icon-quote-right:before {
  content: "i";
}
.icon-tag:before {
  content: "j";
}
.icon-camera:before {
  content: "k";
}
.icon-fontawesome-webfont-4:before {
  content: "l";
}
.icon-mail:before {
  content: "o";
}
.icon-link:before {
  content: "p";
}
.icon-gplus:before {
  content: "m";
}
.icon-comments:before {
  content: "g";
}
.icon-comment:before {
  content: "n";
}
.icon-tick:before {
  content: "q";
}
.icon-twitter-bird:before {
  content: "s";
}
.icon-up-arrow:before {
  content: "t";
}
.icon-right-arrow:before {
  content: "r";
}
.icon-star:before {
  content: "u";
}
.icon-facebook-places:before {
  content: "v";
}
.icon-vcard:before {
  content: "w";
}
.icon-flag:before {
  content: "x";
}
.icon-map:before {
  content: "y";
}
.icon-megaphone:before {
  content: "z";
}
.icon-ticket:before {
  content: "A";
}
.icon-suitcase:before {
  content: "B";
}
.icon-mobile:before {
  content: "C";
}
.icon-megaphone-1:before {
  content: "D";
}
.icon-bag:before {
  content: "E";
}
.icon-basket:before {
  content: "F";
}
.icon-phone:before {
  content: "G";
}
.icon-paypal:before {
  content: "H";
}
.icon-widget:before {
  content: "I";
}
.icon-instagram:before {
  content: "J";
}
.icon-home:before {
  content: "K";
}
.icon-left-arrow:before {
  content: "L";
}
.icon-calendar:before {
  content: "M";
}
.icon-cc:before {
  content: "N";
}
.icon-clock:before {
  content: "O";
}
.callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.callout h4 {
  margin-top: 0;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code,
.callout .highlight {
  background-color: #fff;
}
.callout-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #ffffff;
}
.callout-danger a {
  color: #ffffff;
  text-decoration: underline;
}
.callout-warning {
  background-color: #e5b879;
  border-color: #e1ad64;
}
.callout-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.price-panel-1 {
  background: #3d86c6 !important;
}
.price-title-1 {
  color: #3d86c6;
}
.price-panel-2 {
  background: #3d86c6 !important;
}
.price-title-2 {
  color: #3d86c6;
}
.price-panel-3 {
  background: #245179 !important;
}
.price-title-3 {
  color: #245179 !important;
}
.price-panel-4 {
  background: #3d86c6 !important;
}
.price-title-4 {
  color: #3d86c6;
}
.front,
.back {
  float: left;
  width: 220px;
  height: 220px;
  background: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.price-circles {
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.price-circles i {
  padding-right: 25px;
}
.price-circles > li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}
.front > div {
  text-align: center;
  color: #60bad7;
}
.price-title {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
  padding: 30px 10px 0px;
}
.price span {
  font-weight: 900;
  margin-top: -30px;
  display: inline-block;
}
.price .total {
  font-size: 4em;
  margin: 0 10px;
}
.currency,
.end {
  font-size: 2em;
}
.price-description {
  text-align: center;
}
.front .price-description {
  font-size: 1em;
  font-weight: 100;
  padding: 4px 45px 0;
}
.back .price-title {
  color: #FFF;
}
.back ul {
  width: 100%;
  margin: auto;
  padding-top: 20px;
}
.back ul li {
  color: #ffffff !important;
  text-align: left;
  list-style: none;
  line-height: 1.4;
}
.popular {
  font-size: 2.2em;
  color: #3d86c6;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.circle {
  border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
}
.info {
  position: absolute;
  border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  opacity: 0;
  -moz-transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-backface-visibility: hidden;
}
.circle:hover .front {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}
.circle:hover .info {
  -moz-transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(360deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  opacity: 1;
}
.circle:hover .front-popular {
  border-radius: 10% 50% 50% 50%!important;
}
.circle:hover .popular {
  opacity: 1;
  animation: popularAnim 1s 1;
  -webkit-animation: popularAnim 1s 1;
}
@keyframes popularAnim {
  from {
    opacity: 0;
    left: 40px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@-webkit-keyframes popularAnim /* Safari and Chrome */ {
  from {
    opacity: 0;
    left: 40px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@-moz-keyframes popularAnim {
  from {
    opacity: 0;
    left: 40px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@-ms-keyframes popularAnim {
  from {
    opacity: 0;
    left: 40px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
.box > li {
  *float: left;
}
.circle .back {
  *display: none;
}
.circle .back {
  z-index: 0;
}
.circle .front {
  position: relative;
  z-index: 1;
}
.circle:hover .back {
  z-index: 1;
}
.circle:hover .front {
  position: relative;
  z-index: 0;
}
.circle:hover .back {
  *display: inline;
}
.circle:hover .front {
  *display: none;
}
.price-table .price-title {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 100 !important;
  text-align: center;
  padding: 10px;
}
.price-table li {
  list-style: none;
}
.price-table li i {
  padding-right: 20px;
}
.section-header .section-preview {
  height: 200px;
  position: relative;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
}
.section-header .section-preview .section-preview-title {
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
  max-width: 70%;
  padding: 5px 30px;
  color: #ffffff;
  position: absolute;
  top: -200px;
  z-index: 10;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.section-header .section-preview .section-preview-title h2 {
  text-transform: uppercase;
  text-align: left;
  font-weight: 900;
  font-size: 1.7em;
}
@media (max-width: 1199px) {
  .section-header .section-preview .section-preview-title h2 {
    font-size: 1.3em;
  }
}
.section-header .section-preview .section-preview-title h2 a {
  color: #ffffff;
}
.section-header .section-preview .section-preview-title h2 a:hover {
  text-decoration: none;
}
.section-header .section-preview .section-preview-title .by-line {
  font-style: italic;
  font-size: 0.9em;
  text-align: left;
}
.section-header img {
  height: 400px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.section-article h2 {
  text-transform: uppercase;
  text-align: left;
  font-weight: 900;
  font-size: 1.7em;
}
@media (max-width: 1199px) {
  .section-article h2 {
    font-size: 1.3em;
  }
}
.section-article h2 a {
  color: #333333;
}
.section-article h2 a:hover {
  text-decoration: none;
}
.section-article .by-line {
  font-style: italic;
  font-size: 0.9em;
  text-align: left;
}
.section-header .section-preview:hover .section-preview-title {
  top: 0px;
}
.section-header .section-preview:hover img {
  height: 450px;
}
.row.login {
  margin-top: 50px;
}
.row.login hr {
  border-color: rgba(219, 232, 244, 0.19999999999999996);
}
